<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle display</title>


<form >
  <input type="text" name="km"></input>
  <input type="text" name="opentime"></input>
  <input type="text" name="closetime"></input>
</form>

{% for item in items %}
  <h1> {{ item.km }} </h1>
  <p> {{ item.opentime}} <p>
  <p> {{ item.closetime }} <p>
{% endfor %}

</html>
